
* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background: #E8F3F8;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 500px;
}

canvas {
    background: #DBE6EC;
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(164,188,194, 1);
    color: #eee;
    font-weight: bold;
    padding-top: 240px;
    text-align: center;
}

.disolve {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: disolve;
    -webkit-animation-fill-mode:forwards
}

@-webkit-keyframes disolve {
    from {
        background-color: rgba(164,188,194, 1);
    }
    to {
        background-color: rgba(164,188,194, 0);
    }
}
